<template name="website_item">
        <div class="panel-body">
            <h3>
                <a href="{{url}}">{{title}}</a>
            </h3>
            {{description}}
        </div>
        <div class="panel-footer">
            <a href="#" class="btn {{#if iUpVoted}}btn-success{{else}}btn-default{{/if}} js-upvote">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="false"></span>
            </a>
            <span class="text-primary"><strong>{{rank}}</strong></span>
            <a href="#" class="btn {{#if iDownVoted}}btn-danger{{else}}btn-default{{/if}} js-downvote">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </a>
            <span class="label label-pill label-success">{{upVoteCount}}</span>
            <span class="label label-pill label-danger">{{downVoteCount}}</span>
            <span class="label label-pill label-default">Added: {{addedDate}}</span>
        </div>
</template>