<template name="website_form">
    <div id="website_form_dialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        Add Website
                    </div>
                </div>
                <div class="modal-body">
                    <form id="add_website_form" class="js-save-website-form">
                        <div class="form-group {{#if errors 'url'}}has-error{{/if}}" >
                            <label class="control-label" for="url">Site address</label>
                            <input type="url" class="form-control" id="url" placeholder="http://www.mysite.com" />
                        </div>
                        <div class="form-group {{#if errors 'title'}}has-error{{/if}}">
                            <label class="control-label" for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Mysite" />
                        </div>
                        <div class="form-group {{#if errors 'description'}}has-error{{/if}}">
                            <label class="control-label" for="description">Description</label>
                            <input type="text" class="form-control" id="description" placeholder="I found this site really useful for ..." />
                        </div>
                        <div class="alert alert-warning">
                            Loading data...
                        </div>
                        {{#each error in errors "general"}}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                        {{/each}}
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success js-submit-form">submit</button>
                    <button data-dismiss="modal" class="btn btn-warning js-cancel-form">cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>
